<%@ page contentType="text/html;charset=UTF-8" %>
<html>
<head>
    <title></title>
</head>

<body>
    <div style="margin-left: auto; margin-right: auto; width: 100%;">
        <h3>You had been successfully registered!</h3>
    </div>
</body>
</html>