<%@ page contentType="text/html;charset=UTF-8" %>
<html>
<head>
    <title></title>
    <style>
        .registrationForm{
            width: 200px;
            margin: auto;
            margin: auto;
        }​
    </style>
</head>
<h2>Enter personal data</h2><hr>
<div class="registrationForm">
    <g:form>
        <table style="text-align: center;">
            <tr>
                <td>
                    <input type="text" id="firstName" placeholder="First name">
                </td>
            </tr>
            <tr>
                <td>
                    <input type="text" id="lastName" placeholder="Last name">
                </td>
            </tr>
            <tr>
                <td>
                    <input type="date" id="birthday" placeholder="Birthday">
                </td>
            </tr>
            <tr>
                <td>
                    <select id="sex">
                        <option value="mail">Mail</option>
                        <option value="femail">Femail</option>
                    </select>
                </td>
            </tr>
        </table>
        <g:submitButton name="cancel" value="Cancel" />
        <g:submitButton name="next" value="Next step" />
    </g:form>
</div>

<body>

</body>
</html>